- relationship_id = current_user.relationship_with(user)
- is_following = current_user.following?(user)

.container{ data: {
      controller: 'follow',
      follow_user_id_value: user.id,
      follow_followed_value: is_following
    } }

  .nav-right
    %span{ data: {
      action: 'click->follow#toggleFollow',
      follow_target: 'span',
      url: is_following && relationship_id.present? ? relationship_path(relationship_id) : relationships_path,
      method: is_following && relationship_id.present? ? 'DELETE' : 'POST'
    } }
      = is_following ? 'UnFollow' : 'Follow'

  .card
    .heading
      = user.account
    .user_info
      .avatar
        = image_tag user.avatar_img
      .achievement
        .block
          .count
            = user.posts.count
          .section
            Posts
        .block
          .count{ data: { follow_target: 'followerCount' } }
            = user.followers.count
          .section
            Followers
        .block
          .count
            = user.followings.count
          .section
            Following
    .user_posts
      - user.posts.order(created_at: :desc).each do |post|
        = render 'commons/image_grid', post: post
