.nav-right
  = link_to 'Log out', destroy_user_session_path, method: :delete

.container
  .card
    .heading
      = user.account
    .user_info
      .avatar{ data: { controller: 'avatar-update', user_id: current_user.id } }
        = image_tag user.avatar_img, id: 'avatar-preview', data: { action: 'click->avatar-update#triggerFileInput', avatar_update_target: 'preview' }
        = form_with url: '#', html: { id: "avatar-form", enctype: "multipart/form-data" }, local: true do
          = file_field_tag :avatar, id: 'avatar-input', class: 'offscreen', data: { action: 'change->avatar-update#uploadAvatar', avatar_update_target: 'input' }
      .achievement
        .block
          .count
            = user.posts.count
          .section
            Posts
        .block
          .count
            = user.followers.count
          .section
            Followers
        .block
          .count
            = user.followings.count
          .section
            Following
    .user_posts
      - user.posts.order(created_at: :desc).each do |post|
        = render 'commons/image_grid', post: post
