.post#post-show{data: {post_id: post.id}}
  .post-header
    .avatar-img
      = image_tag post.user.avatar
    .post-info
      .post-user
        = post.user.account
      .post-ago
        = "#{time_ago_in_words(post.created_at)} ago"
  .post-content
    = render 'commons/image_grid', post: post
  .post-footer
    .group
      - if user_signed_in?
        .sign
          .offscreen.active-heart
            = image_tag 'heart-full.svg'
          .offscreen.inactive-heart
            = image_tag 'heart-blank.svg'
      .sign
        = link_to post_comments_path(post) do
          = image_tag 'comment.svg'
      .sign
        = link_to "https://twitter.com/share?url=#{CGI.escape(post.url)}&text=#{CGI.escape("【テスト】\n\n#{post.caption}")}", target: "_blank", rel: "noopener" do
          = image_tag 'link.svg'
    .post-like
      = post.like_display
    .caption
      .caption-user
        = post.user.account
      .caption-content
        = post.caption
