.post#post-show{ data: { controller: 'like', like_post_id_value: post.id } }
  .post-header
    .avatar-img
      = link_to user_path(post.user) do
        = image_tag post.user.avatar
    .post-info
      .post-user
        = link_to user_path(post.user) do
          = post.user.account
      .post-ago
        = "#{time_ago_in_words(post.created_at)} ago"
  .post-content
    = render 'commons/image_grid', post: post
  .post-footer
    .group
      - if user_signed_in?
        .sign
          = image_tag 'heart-full.svg',
            class: 'active-heart offscreen',
            data: { like_target: 'activeHeart', action: 'click->like#unlike' }
          = image_tag 'heart-blank.svg',
            class: 'inactive-heart',
            data: { like_target: 'inactiveHeart', action: 'click->like#like' }
      .sign
        = link_to post_comments_path(post) do
          = image_tag 'comment.svg'
      .sign
        = link_to "https://twitter.com/share?url=#{CGI.escape(post.url)}&text=#{CGI.escape("【テスト】\n\n#{post.caption}")}", target: "_blank", rel: "noopener" do
          = image_tag 'link.svg'
    .post-like
      = post.like_display
    .caption
      .caption-user
        = link_to user_path(post.user) do
          = post.user.account
      .caption-content
        = post.caption
