-# ログイン画面
.container
  .card
    .bg-img
      = image_tag 'bg-img.jpg', id: 'bg-img'
    .form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email, 'Email'
          %br/
          = f.email_field :email, autofocus: true, placeholder: "email@photogram.com", autocomplete: "email", class: 'text'
        .field
          = f.label :password, 'Password'
          %br/
          = f.password_field :password, placeholder: "password", autocomplete: "current-password", class: 'text'
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me, 'remember me'
        .actions
          = f.submit "LOGIN", class: 'btn-primary'
      = render "devise/shared/links"
