.container
  - @posts.each do |post|
    .card
      .post
        .post-header
          .avatar-img
            = image_tag post.user.avatar
          .post-info
            .post-user
              = post.user.account
            .post-ago
              = "#{time_ago_in_words(post.created_at)} ago"
        .post-content
          .content-images

            .row.g-1.mb-4
              - post.images.each_with_index do |image, index|
                .col{:class => "col-#{12 / [post.images.size, 4].min}"}

                  = image_tag(image.variant(resize_to_limit: [300, 300]),
                              alt: "post image #{index + 1}",
                              class: "img-fluid",
                              data: { bs_toggle: "modal", bs_target: "#imageModal-#{post.id}-#{index}" })

                  -# モーダル
                  .modal.fade{id: "imageModal-#{post.id}-#{index}", tabindex: "-1", role: "dialog", aria: { labelledby: "modalLabel-#{post.id}-#{index}", hidden: true } }
                    .modal-dialog.modal-dialog-centered.modal-xl
                      .modal-content
                        .modal-header
                          -# %h5.modal-title{id: "modalLabel-#{post.id}-#{index}"} Image Preview
                          %button.btn-close{ type: "button", data: { bs_dismiss: "modal" }, aria: { label: "Close" } }
                        .modal-body.text-center
                          = image_tag(image.variant(resize_to_limit: [900, 900]),
                                      alt: "large image #{index + 1}",
                                      class: "img-fluid")

        .post-footer
          .group
            .sign
              = image_tag 'heart-blank.svg'
            .sign
              = image_tag 'comment.svg'
            .sign
              = link_to "https://twitter.com/share?url=#{CGI.escape(post.url)}&text=#{CGI.escape("【テスト】\n\n#{post.caption}")}", target: "_blank", rel: "noopener" do
                = image_tag 'link.svg'
          .post-like
            Jasmine and 12,000 other liked your post
          .caption
            .caption-user
              = post.user.account
            .caption-content
              = post.caption
