!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Photogram"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "https://use.typekit.net/byg5sjm.css", :rel => "stylesheet"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body

    .nav-left
      - if !current_page?(root_path)
        = link_to (request.referer || root_path) do
          = image_tag 'path.svg', class: 'back'
      - else
        = link_to (new_post_path) do
          = image_tag 'camera.svg'

    .nav-right
      - if user_signed_in?
        -if !current_page?(new_post_path)
          = link_to 'Log out', destroy_user_session_path, method: :delete
      - elsif !current_page?(new_user_session_path)
        = link_to 'Log in', new_user_session_path

    .flash
      - flash.each do |key, value|
        %div{:class => key}= value

    = yield
